.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.
BOBaFIT.Rproj
inst/doc
vignettes/.DS_Store
vignettes/figure/.DS_Store
debug.log
debug.log
.Rhistory
BOBaFIT.Rproj
.DS_Store
vignette/.DS_Store
vignette/figure/.DS_Store
